.container h1{
    text-align: center;
}

.container-grid{
    background-color: rgba(0, 0, 0, 0.247);
    height: 250px;
    margin: 20px;
    padding: 12px;
}

.row{
    border: 12px solid blue;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

.col-3{
    border: 2px dashed red;
    height: 100%;
    margin: 0;
}

.par {
    background-color: #CCC;
  }
  
.impar {
    background-color: #333;
  }